h1,
h2,
h3,
h4 {
     color: #17202a;
 }
  

 h1,
 h2 {
     font-family: 'georgia', serif;
     margin: 50px;
     border-left: 100px;
 }
 
 h1 {
     border-bottom: 2px solid #eee;
 }
 
 h2 {
     font-size: 1.2em;
 }
 
 p,
 dd,
 dt {
     color: #232121;
     font-size: 1.2em;
 }
 
 a {
     text-decoration: none;
     color: #161717;
     font-size: 1em;
 }

a:link {
    color:#164065;
}


a:visited {
    color: #166558;
}

a:hover {
    color: #b1e2da;
}


a:active {
    color: #195b94;
}

 
 .pane {
     position: relative;
     border: 2px solid;
     border-radius: 25px;
     padding: 5px;
     margin: 5px;
     border-color: #1a237e;
     height: relative;
     background-color: #85c1e9;
 }
 

.header {
     position: relative;
     border: 1px solid;
     border-radius: 2px;
     padding: 5px;
     margin: 5px;
     border-color: #1A237E;
     background-color: #FDFEFE;
 }
 
 .subheader {
     text-align: center;
     font-size: 1.3em;
 }
 
 .login {
     float: right;
     display: inline-block;
}
.name {
     width: 50%;
     display: inline-block;
     float: left;
}
  
.author {
     text-align: right;
     width: 50%;
     float: right;
 }
 
 .editdeletepane {

 }
  
 .flash {
     background: #cee5f5;
 }