<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	<div class = "container">
		

	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-4"></div>
	</div>
	
		

			<h1>Book Catalog App by Saif</h1>
			<p></p>
			<p></p>

			
			<p></p>
			<p></p>
			<p></p>
	<div class = "login">
		<div class = "col-md-12">	
			<form action = "login.html">
			<input type = "button" value = "LOGIN">
			</form>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	

	{% for i in categories %}

		<a href = "{{url_for('cataloghome', bookcategory_id = i.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 category-list">
						<h3>{{i.name}}</h3>
						<p></p>
						<p></p>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>

		{% endfor %}


</div>
</body>
</html>
